.fas{
    font-size: 90px !important;
    text-align: center !important;
}

/* Custom CSS for aligning social media icons to the right */
.social-media-icons {
    margin-left: auto;
  }
  

.team{
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    padding: 15px;
    /* width: 100vw; */
}

.fa-handshake{
    color: #3698c6 !important;
}

.fa-check-circle{
    color: #b95e5d;
}

.fa-star{
    color: #bb995c;
}

.fa-lightbulb{
    color: #757d7b;
}

.fa-users{
    color: #5fa0b2;
}